* {
  margin: 0;
  padding: 0;
}

.trybewarts-header-logo {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  height: 80px;
}

h1 {
  color: white;
  padding: 15px;
}

#main {
    display: flex;
}

#main {
    justify-content: space-between;
}

#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
}

#trybewarts-forms-logo{
    height: 500px;
}

